#football > h1 {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  color: #2F303A;
  text-decoration: none;
  text-align: center;
  margin-bottom: 35px;
  margin-top: 40px;
}
#football > .football-field {
  overflow: hidden;
  position: relative;
  width: 720px;
  height: 220px;
  border: 2px solid #2F303A;
  border-radius: 37px;
  background-color: #5ABB58;
  margin: 0 auto;
}
#football > .football-field > .ball {
  width: 50px;
  height: 50px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.line {
  width: 526px;
  border: 1px solid #2F303A;
  margin: 0 auto;
  margin-top: 35px;
  color: #2F303A;
}

#numbers > h2 {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  color: #2F303A;
  text-decoration: none;
  text-align: center;
  margin-bottom: 35px;
  margin-top: 40px;
}
#numbers > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#numbers > form > input {
  width: 135px;
  height: 35px;
  background-color: #D7D7D7;
  border: none;
  border-radius: 20px;
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0;
  color: #757575;
  text-decoration: none;
  text-align: center;
  margin-bottom: 35px;
  margin-top: 40px;
}
#numbers > form > p {
  width: 100%;
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0;
  color: #757575;
  text-decoration: none;
  text-align: center;
  margin-bottom: 35px;
  margin-top: 40px;
}

#team > h2 {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  color: #2F303A;
  text-decoration: none;
  text-align: center;
  margin-bottom: 35px;
  margin-top: 40px;
}
#team > .team-div {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
#team > .team-div > button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#team > .team-div > button:nth-of-type(2n) {
  left: 96%;
}
#team .team-member > h3 {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  color: #2F303A;
  text-decoration: none;
  text-align: center;
}
#team .team-member > .photo-placeholder {
  width: 150px;
  height: 150px;
  border: none;
  border-radius: 20px;
  background-color: #D9D9D9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#team .team-member > p {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0;
  color: #2F303A;
  text-decoration: none;
  text-align: center;
}
#team .team-rect {
  width: 320px;
  height: 225px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#team .rect-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.svg-active {
  width: 30px;
}
.svg-active rect {
  fill: #797979;
  width: 30px;
}

#choose-scientist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#choose-scientist > h2 {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  color: #2F303A;
  text-decoration: none;
  text-align: center;
  margin-bottom: 35px;
  margin-top: 40px;
}
#choose-scientist .sc-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 35px;
  padding: 20px 0;
  max-width: 600px;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  margin-top: -20px;
}
#choose-scientist .sc-photo-el {
  width: 100px;
  height: 100px;
  background-color: #D9D9D9;
  border-radius: 20px;
}
#choose-scientist .sc-photo-el .sc-btn {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
#choose-scientist .sc-photo-el img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
#choose-scientist .description {
  width: 66.6666666667%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  list-style: none;
  margin-top: -20px;
  padding: 20px 10px;
}
#choose-scientist .description > :last-child {
  margin-top: -10px;
}
#choose-scientist .description > .left-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  text-align: right;
}
#choose-scientist .description > .right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  text-align: left;
  max-width: 441px;
}
#choose-scientist .dscrp-button {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0;
  color: #2F303A;
  text-decoration: none;
  text-align: left;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-box-shadow: 3px 4px 1px #D7D7D7;
          box-shadow: 3px 4px 1px #D7D7D7;
}
#choose-scientist .dscrp-button:hover {
  background-color: #333;
}

#foot {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 180px;
  margin-top: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-txt {
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0;
  color: #2F303A;
  text-decoration: none;
  text-align: center;
}

.foot-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.foot-info > p {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0;
  color: #2F303A;
  text-decoration: none;
  text-align: left;
  margin: 0;
}

.sub-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}
.sub-form > input {
  background-color: #D7D7D7;
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0;
  color: #7E7E7E;
  text-decoration: none;
  text-align: left;
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
}
.sub-form > button {
  background-color: #000000;
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0;
  color: #FFFFFF;
  text-decoration: none;
  text-align: left;
  border-radius: 25px;
  border: none;
  padding: 10px 10px;
}

.sub-p {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: 0;
  color: #000000;
  text-decoration: none;
  text-align: left;
}

#container {
  max-width: auto;
  padding: 0 15px;
  margin: 0 auto;
}

#background {
  background-image: url("/img/svg/main-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

h5 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

img {
  overflow-clip-margin: content-box 0px;
}

a {
  text-decoration: none;
  color: var(--fourth-color);
  cursor: default;
}

ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

li {
  list-style: none;
}/*# sourceMappingURL=style.css.map */