#foot{
    margin-bottom: 60px;
display: flex;
justify-content: space-around;
gap: 180px;
margin-top: 90px;
align-items: center
}
.logo{
    display: flex;
    align-items: center;
    >img{
        width: 80px;
        height: 80px
    }
}
.logo-txt{
    @include txt( 'Montserrat Alternates', 600, 22px, 100%, 0, $black-color,  none, center);
}

.foot-info{
    display: flex;
    flex-direction: column;
    >p{
        @include txt( 'Montserrat Alternates', 400, 12px, 170%, 0, $black-color,  none, left);
        margin: 0;
    }
}
.sub-form{
    display: flex;
    gap: 35px;
    >input{
        background-color: #D7D7D7;
        @include txt( 'Montserrat Alternates', 400, 12px, 100%, 0, #7E7E7E,  none, left);
        border-radius: 20px;
        border: none;
        padding: 10px 20px;
    }
    >button{
        background-color: #000000;
        @include txt( 'Montserrat Alternates', 400, 12px, 100%, 0, #FFFFFF,  none, left);
        border-radius: 25px;
        border: none;
        padding: 10px 10px;
        &:hover{
            cursor: pointer
        }
    }
    
}
.sub-p{
    @include txt( 'Montserrat Alternates', 400, 8px, 100%, 0, #000000,  none, left);
}





.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); 
    z-index: 1050;
    opacity: 0; 
    margin: 0;
    padding: 0;
}
.modal.active{
    display: block;
    opacity: 1;

}
.modal:target {
    position: fixed;
    opacity: 1; 
 overflow-y: auto; 
}
.modal-dialog {
    position: relative;
    margin: 10px;
    top: 30%;
    left: 37%;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 20px;
    outline: 0;
    width:  460px;
    height: 245px;
}


.close {
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
    margin-left: 91%;
    margin-top: 3%;
    color: #000;
    font-size: 35px;
    font-weight: 500;
}
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-body {
  position: relative;
padding: 15px;
overflow: auto;
background-image: url('/img/foot-modal-bg.png');
background-repeat: no-repeat;
background-position: center;
    >p{
        @include txt( 'Montserrat Alternates', 400, 25px, 100%, 0, #000,  none,center);

    }
}