.grean-p{
    text-align: center;
    @include txt( 'Montserrat Alternates', 400, 12px, 100%, 0, $green-color,  none, none);
}
.guess-grean-p{
    text-align: center;
    @include txt( 'Montserrat Alternates', 400, 12px, 100%, 0, $green-color,  none, none);
}
.headline-h1{
    @include txt( 'Montserrat Alternates', 400, 24px, 100%, 0, $black-color,  none, center);
    @include margins;
}
.basick-p{
    @include txt( 'Montserrat Alternates', 400, 16px, 100%, 0, $black-color,  none, none);
    @include margins;
}
.rps-p{
    @include txt( 'Montserrat Alternates', 400, 12px, 100%, 0, $black-color,  none, none);
}
.rps-buttons{
    display: flex;
    flex-direction: row;
    margin-left: 430px;
    gap: 75px;
    @include margins;
}
.rsp-button {
    margin: -8px;
}
.rsp-button > * {
    margin: 8px;
}
.rsp-txt{
    max-width: 100px;
}
.rock{
    background-color: $black-color;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background-image: url('/img/rock.png');
    background-position: center;
    background-repeat: no-repeat;
}
.sissers{
    background-image: url('/img/scissors.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: $black-color;
    width: 60px;
    height: 60px;
    border-radius: 20px;
}
.paper{
    background-image: url('/img/paper.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: $black-color;
    width: 60px;
    height: 60px;
    border-radius: 20px;
}
.arithmetic-operators{
    @include txt( 'Montserrat Alternates', 400, 12px, 100%, 0, $white-color,  none,none);
    background-color: $black-color;
    padding: 7px 10px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 3px 4px 1px $gray-color;
}
.gray-background{
    @include txt( 'Montserrat Alternates', 400, 12px, 100%, 0, $gray-font,  none,none);
    background-color: $gray-background;
    border: none;
    padding: 7px 10px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 3px 2px 1px $gray-font;
}
.time-calc-div{
    text-align: center;
}
.calc-ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    >:last-child{
        margin-left: 30px;
        margin-top: 7px
        bacground
    }
}
.calculated-p{
    @include txt( 'Montserrat Alternates', 400, 12px, 100%, 0, $green-color,  none,none);
    margin: 0px;
}
.use-calc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 38px;
}
.simbuls-ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 20px;
    >li{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;
        >button{
        @include txt( 'Montserrat Alternates', 400, 12px, 100%, 0, $white-color,  none,none);  
        background-color: $black-color;
        padding: 5px 8px;
        border-radius: 20px;
        cursor: pointer;
        }
    }
}    
.calculate-operators{
    @include txt( 'Montserrat Alternates', 400, 12px, 100%, 0, $white-color,  none,none);  
    background-color: $black-color;
    padding: 5px 8px;
    border-radius: 20px;
    cursor: pointer;
}
.jear-calc{
    text-align: center;
}
.jear-ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 150px;
}
.first-gray-input{
    @include txt( 'Montserrat Alternates', 400, 12px, 100%, 0, $black-color,  none,none);  
    border-radius: 20px;
    border: none;
    padding: 10px 0px 10px 0px;
    background-color: $gray-background;
    text-align: center;
    outline: none;
}
.second-gray-input{
    @include txt( 'Montserrat Alternates', 400, 12px, 100%, 0, $black-color,  none,none);  
    border-radius: 20px;
    border: none;
    padding: 10px 0px 10px 0px;
    background-color: $gray-background;
    text-align: center;
    outline: none;
}
.gray-output{
    @include txt( 'Montserrat Alternates', 400, 12px, 100%, 0, $black-color,  none,none);  
    border-radius: 20px;
    border: none;
    padding: 10px;
    background-color: $gray-background;
    text-align: center;
    outline: none;
    margin: 0px;
}
.gray-input{
    border-radius: 20px;
    border: none;
    padding: 10px;
    width: 90px;
    background-color: $gray-background;
    text-align: center;
}
.guess-section{
    text-align: center;
}
.basick-black-bttn{
    @include txt( 'Montserrat Alternates', 400, 12px, 100%, 0, $white-color,  none,none);  
    background-color: $black-color;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 20px;
}
.time-input{
    @include txt( 'Montserrat Alternates', 400, 12px, 100%, 0, $black-color,  none,none);  
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    padding: 10px;
    background-color: $gray-background; 
    outline: none;
}
.input-serch{
    @include txt( 'Montserrat Alternates', 400, 12px, 100%, 0, $black-color,  none,none);  
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    background-color: $gray-background;
    padding: 10px;
    width: 100px;
    margin-left: -50px;
    outline: none;
}

.button-serch{
    background-color: $black-color;
    width: 35px;
    height: 35px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: 50px;
}
.serch-input{
    @include txt( 'Montserrat Alternates', 400, 12px, 100%, 0, $black-color,  none,none);  
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    background-color: $gray-background;
    padding: 10px;
    outline: none;
    width: 175px;
}
.li-guess{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}
.serch-button{
    background-color: $black-color;
    width: 35px;
    height: 35px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.calculate-button{
    background-color: $black-color;
    width: 35px;
    height: 35px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.input-guess{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
}
.guess-li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}
.rps-section{
    text-align: center;
}
.calc-section{
    text-align: center;
}
.calc-li{
    padding-top: -10px;
}
.calc-section{
    text-align: center;
}







#football{
    >h2{
        @include txt( 'Montserrat Alternates', 400, 16px, 100%, 0, $black-color,  none, center);
        @include margins;
    }
    >.football-field{
        overflow: hidden;
        position: relative;
        width: 720px;
        height:220px;
        border: 2px solid $black-color;
        border-radius: 37px;
        background-color:#5ABB58;
        margin: 0 auto;
        >.ball{
            width: 50px;
            height: 50px;
            position: absolute;
            transform: translate(-50%, -50%);

        }
    }
}
.line{
    width: 526px;
    border: 1px solid $black-color;
    margin: 0 auto;
    margin-top: 35px;
    color: $black-color;
}
#numbers{
    >h2{
        @include txt( 'Montserrat Alternates', 400, 16px, 100%, 0, $black-color,  none, center);
        @include margins;
    }
    >form{
        display: flex;
        flex-direction: row;    
        justify-content: center;
    gap: 20px;               
    flex-wrap: wrap;  
        >input{
            width: 135px;
            height: 35px;
            background-color:#D7D7D7;
            border: none;
            border-radius: 20px;
            @include txt( 'Montserrat Alternates', 400, 12px, 100%, 0, $gray-color,  none, center);
            @include margins;
            }
        >p{
            width: 100%;
            @include txt( 'Montserrat Alternates', 400, 12px, 100%, 0, $gray-color,  none, center);
            @include margins;

        }
    }
};
#team{
    >h2{
        @include txt( 'Montserrat Alternates', 400, 16px, 100%, 0, $black-color,  none, center);
        @include margins;
    };

    >.team-div{
        margin: 0 auto;
        display: flex;
        position: relative;
        >button {
            background: none;
            border: none;
            cursor: pointer;
            padding: 10px;
            position: absolute;
            display: flex;
            &:nth-of-type(2n){
                top: 10%;
                left: 85%
            }
            &:nth-of-type(2n+1){
                top: 10%;
                left: 10%
            }
        }
    
    };

        .team-member{
            >h3{
                @include txt( 'Montserrat Alternates', 400, 14px, 100%, 0, $black-color,  none, center);
            }
            >.photo-placeholder{
                width: 150px;
                height: 150px;
                border: none;
                border-radius: 20px;
                background-color: #D9D9D9;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                margin: 0 auto;
                >img{
                     width: 150px;
                    height: 150px;
                    border-radius: 20px
                }
            };
                >p{
                    @include txt( 'Montserrat Alternates', 400, 12px, 100%, 0, $black-color,  none, center);
                  }};


    .team-rect{
       width: 320px;
       margin: 0 auto;
       display: flex; 
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }
    .rect-ul{
        display: flex;
        gap: 10px;
    }
};


.svg-active{
    width: 30px;
    & rect{
        fill: #797979;
        width: 30px;
    }
}
#choose-scientist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        >h2{
        @include txt( 'Montserrat Alternates', 400, 16px, 100%, 0, $black-color,  none, center);
        @include margins;
        }
        .sc-photo{
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            gap: 35px;
            padding: 20px 0;
            max-width:600px;
            column-gap: 60px;
            margin-top: -20px;
        }
        .sc-photo-el{
            width: 100px;
            height: 100px;
            background-color: #D9D9D9;
            border-radius: 20px;
            .sc-btn{
                width: 100%;
                height: 100%;
                padding: 0;
                border: none;
                background: none;
                cursor: pointer;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px;
            }
        }
        .description {
            width: 900px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            gap: 30px;
            list-style: none;
            margin-top: -20px;
            padding: 20px 10px;
            >:last-child{
                margin-top: -10px;
            }
            >.left-column{
                display: flex;
                flex-direction: column;
                gap: 20px;
                text-align: right;
            }
            >.right-column{
                display: flex;
                flex-direction: column;
                gap: 20px;
                text-align: left;
                max-width: 441px;
            }
        }
        
    .dscrp-button {
        @include txt( 'Montserrat Alternates', 400, 12px, 100%, 0, $black-color,  none,left);
        background-color: #000;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 20px;
        cursor: pointer;
        box-shadow: 3px 4px 1px #D7D7D7;
        
  
        &:hover {
          background-color: #333;
        }
      }
        
}
.google-trex{
    @include txt( 'Montserrat Alternates', 400, 16px, 100%, 0, $black-color,  none, center);
    @include margins;
}
#game {
    width: 500px;
    height: 200px;
    border: none;
    margin: 0 auto;
    position: relative;
    background-image: url(/img/dino-bg.png);
    background-position: 0 90px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #start-dino {
    @include txt( 'Montserrat Alternates', 400, 12px, 100%, 0,$black-color,  none,center);
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 3px 4px 1px #D7D7D7;
    width: 100px;
    margin-left: 45%;
  }
  
  #dino {
    width: 20px;
    height: 50px;
    position: relative;
    top: 150px;
    left: 60px;
    
    >img{
        position: absolute;
        left: -45px;
        bottom: -3px;
        width: 100px;
        height: 100px;
    }
  }
  
  .animate {
    animation: jump 0.5s;
  }
  
  #cactus {
    width: 20px;
    height: 20px;

    position: relative;
    top: 130px;
    left: 480px;
    >img{
        position: absolute;
        bottom: -2px;
        width: 20px;
        height: 20px;
    }
  }
  
  @keyframes jump {
    0% { top: 150px; }
    30% { top: 100px; }
    70% { top: 100px; }
    100% { top: 150px; }
  }
  
  @keyframes cactusMove {
    0% { left: 480px; }
    100% { left: -40px; }
  }